h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

a{
    color: black;
}

html{
    background-color: rgb(240, 227, 252);
}

#nav_bar {
    display: flex;
    flex-direction: row;

    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: gray;

    align-items: center;
    position: fixed;
    width: 100%;
    background-color: rgb(89, 66, 110);

    top: 0;
    left: 0;
    padding: 7px;
}

.nav_bar-item {
    text-align: center;
    flex: 1;
}

.nav_bar-item a {
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.flex-container {
    display: flex;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    flex-direction: row;
    padding: 10px;
}

.flex-item {
    /*border-style: solid;
    border-width: 1px;
    border-color: gray;*/
}

#footer-logo{
    width: 160px;
    height: 160px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}